.carousel-item h2{
	font-size: 76px;
	font-weight: normal;
}


.carousel-item p {
	text-align: center;
	font-size: 28px;
	padding: 0 0 50px 0;
	
}

.btn-primary {
	background-color: #7C0DB3;
	border-color: #7C0DB3;
	padding: 10px 70px 10px 70px;
	margin-bottom: 170px

}
